body{
	padding-top: 15px;
}
#col1{
	text-align: right;
}

.fila-base{
	display: none;
}

#formulario{
	padding-bottom: 15px;
}

#boton{
	text-align: center;
	padding-bottom: 15px;
}

.spacFond{
	margin-bottom: 15px;
}